.container {
    width: 100%;
    background-color: aliceblue;
    border-radius: 20px;
}

.row {
    display: flex;
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

.row:first-child {
    font-weight: bold;
}

.name {
    flex: 1.3;
}

.cpu {
    flex: 1;
}

.ram {
    flex: 1;
}

.disk {
    flex: 1;
}

.ip {
    flex: 1.5;
    margin-right: 10px;
}