body {
    margin: 0;
}

.banner {
    height: 100px;
    background-color: #eeeeee;
}

.title {
    position: absolute;
    color: white;
    width: 250px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background-color: rgb(134, 134, 255);
}

.topBar {
    display: flex;
    float: right;
    width: 50%;
    margin-right: 20px;
}

.search {
    flex: 5;
    width: 500px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    margin: auto;
}

.alert {
    text-align: center;
}

.user {
    margin: auto;
    text-align: center;
}

.viewer {
    width: 100%;
    height: 70px;
    line-height: 50px;
    background-color: rgba(85, 85, 226, 0.404);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
}

.menuButton {
    margin-right: 20px;
}

.menuBtn:checked+.menubar {
    width: 250px;
}

.menuName {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.container {
    height: 800px;
    overflow: hidden;
}

.menuBar {
    width: 250px;
    height: 100%;
    background-color: #b9b9b9;
    float: left;
}

.menuList {
    padding-left: 0;
}

.menuList>li {
    color: white;
    font-size: 2em;
    font-weight: 600;
    list-style: none;
    line-height: 100px;
    text-align: center;
    cursor: pointer;
}

.menuInput {
    display: none;
}

.overview {
    display: block;
}

/* 껐다켰다 */
.smallMenu {
    height: 0;
    transition-duration: 1s;
    overflow: hidden;
}

.menuList>li:hover .smallMenu {
    height: 250px;
    transition-duration: 1s;
}

.menuList>li:hover {
    color: black;
}

/* 껐다켰다 끝 */

.smallMenu>li {
    font-size: 0.7em;
    line-height: 50px;
    /* list-style: none; */
}

.contents {
    display: flex;
    padding: 30px;
}